.containerFooter{
    background: linear-gradient(-45deg, #ffffff, #fff0de, #cca374);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: .625rem 1.875rem .625rem 1.875rem;
        text-align: center;
        p{
            font-family: $fuente-titulos-secundarios;
            color: #80786f;
            font-size: 1.25rem;
            margin-top: 1.25rem;
        }
        div{
            list-style: none;
            list-style-type: none;
            img{
                width: 3.125rem;
            }
        }
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}