header{
    position: fixed;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.681);
    nav{
        div{
            img{
                width: 5%;
            }
            button{
                color: #CCA374;
                border: none;
            }
            div{
                justify-content: flex-end;
            }
        }
    }
}

.tipografiaMenu{
    font-family: 'Oswald', sans-serif;
    color: #CCA374;
}