.sectionPageGuardarropas{
    @include margin;
    p{
        @include p-aviso;
    }
    h2{
        @include titulos;
    }
    .pInfoPages{
        @include texto;
        margin-bottom: 1.875rem;
    }
    div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        p{
            @include p-final(none, none);
        }
    }
}

.img-4{
    margin-right: .625rem;
}

.img-5{
    margin-left: .625rem;
}