.sectionPrincipal{
    background-image: url("../assets/imagenes/imgPortada.png");
    width: 100%;
    height: 37.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        padding: 1.5625rem 1.875rem 1.5625rem 1.875rem;
        background-color: rgba(13, 13, 13, 0.46);
        border-radius: 3.125rem;
        h1{
            font-family: $fuente-titulo-principal;
            color: white;
            text-align: center;
            font-size: 6.25rem;
            font-weight: 400;
            text-shadow: 0rem .125rem .25rem rgba(0, 0, 0, 0.35);
            animation: reveal 3000ms ease-in-out forwards 200ms,
            glow 2500ms linear infinite 2000ms;
            @keyframes reveal {
                80%{
                    letter-spacing: 8px;
                }
                100% {
                    background-size: 300% 300%;
                }
            }
            @keyframes glow {
                40% {
                    text-shadow: 0 0 8px #fff;
                }
            }
        }
        h2{
            font-family: $fuente-titulos-secundarios;
            color: #CCA374;
            text-align: center;
            font-size: 1.5625rem;
            font-weight: 400;
        }
    }
}


